.page-title {
  width: 60%;
  margin: 120px auto 0;
}

.different-font-style-container-1 {
  color: $offBlack;
  width: 60%;
    margin: 120px auto 0;
  h1 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
  }

  p {
    font-family: 'Lato', sans-serif;
  }
}

.different-font-style-container-2 {
  color: $offBlack;
  width: 60%;
  margin: 120px auto 0;
  h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
  }

  p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
  }
}

.different-font-style-container-3 {
  color: $offBlack;
  width: 60%;
  margin: 120px auto 0;
  h1 {
    font-family: 'Alegreya', serif;
    margin-bottom: 0;
  }

  p {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.different-font-style-container-4 {
  color: $offBlack;
  width: 60%;
  margin: 120px auto 0;
  h1 {
    font-family: 'Lustria', serif;
    margin-bottom: 0;
  }

  p {
    font-family: 'Lato', sans-serif;
  }
}

.different-font-style-container-5 {
  color: $offBlack;
  width: 60%;
  margin: 120px auto 0;
  h1 {
    font-family: 'Ovo', serif;
    margin-bottom: 0;
  }

  p {
    font-family: 'Muli', sans-serif;
  }
}

.different-font-style-container-6 {
  color: $offBlack;
  width: 60%;
  margin: 120px auto 0;
  h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
  }

  p {
    font-family: 'Lato', sans-serif;
  }
}

.different-font-style-container-7 {
  color: $offBlack;
  width: 60%;
  margin: 120px auto 0;
  h1 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
  }

  p {
    font-family: 'Cabin', sans-serif;
  }
}

.different-font-style-container-8 {
  color: $offBlack;
  width: 60%;
  margin: 120px auto 0;
  h1 {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0;
  }

  p {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

// font-family: 'Poppins', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Titillium Web', sans-serif;
// font-family: 'Alegreya', serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Lustria', serif;
// font-family: 'Ovo', serif;
// font-family: 'Muli', sans-serif;
// font-family: 'Montserrat', sans-serif;

////COLORS AND TING

.color-palette-header {
  background-color: $brand-secondary;
  color: $offWhite;
  text-align: center;
  padding: 25px 0;
  h3 {
    margin-bottom: 0;
  }
}

.color-palette-wrapper {
  // background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-master {
  width: 31%;
  padding: 100px;
  margin: 5px;
}

.color-palette-box-1 {
  background-color: #d23d54;
  color: #e2fbff;
}

.color-palette-box-2 {
  background-color: #dbf2c9;
  color: #0c5463;
}

.color-palette-box-3 {
  background-color: #f8efbf;
  color: #15647b;
}

.color-palette-box-4 {
  background-color: #2b3b5e;
  color: #aec7dc;
}

.color-palette-box-5 {
  background-color: #344242;
  color: #ffffc3;
}

.color-palette-box-6 {
  background-color: #c74358;
  color: #dbffda;
}

.color-palette-box-7 {
  background-color: #40535b;
  color: #8deb8b;
}

.color-palette-box-8 {
  background-color: #3a515e;
  color: #fff740;
}

.color-palette-box-9 {
  background-color: #643b60;
  color: #a8bbcc;
}

@include lessThanDesktop {
  .color-palette-wrapper {
    flex-direction: column;
  }

  .box-master {
    width: 100%;
  }
}