#mobileshow {
  display: none;
}

#desktopshow {
  margin: 0 auto;
}


.city-background {
  text-align: center;
  position: relative;
  margin-bottom: -5px;
  width: 100%;
  bottom: 0;
  z-index: 1;


  .cls-1, .cls-2 {
    fill: $footer-background;
  }

}

.site-footer {
  background-color: $footer-background;
  color: white;
  position: relative;
  width: 100%;
  z-index: 2;
  transition: $transition-hover;
  p {
    font-weight: 300;
  }

}

.footer-column-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: $containedWidth;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: always;
  padding: 25px 0;

  h4 {
    padding: 8px 0;
    font-size: 16px;
    color: #EAEAEA;
    font-weight: 400;
    letter-spacing: 1px;
  }
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 10px;
    font-weight: 300;
  }
  ul li a {
    color: #EAEAEA;
    text-decoration: none;

    &:hover {
    color: $brand-secondary;
    }
  }
}

.footer-column {
  width: 100%;
}

.column-one {
  img {
    width: 75%;
    padding-bottom: 8px;
  }
}

.copyright {
  max-width: $containedWidth;
  margin: 0 auto;
  font-size: 14px;
  text-align: left;
  width: 100%;
  padding: 25px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    text-decoration: none;
    color: $brand-secondary;
  }

  p {
    font-size: 0.9em;
  }

}


.social-media-footer {
  text-align: left;
}

.social-media-footer svg {
  height: 25px;
  width: auto;
  padding: 0 5px;

  .cls-1 {
    fill: #d3d4d5;
    &:hover {
      fill: #bdbdbd;
    }
  }
}
.social-media-footer img {
  height: 25px;
  width: auto;
  // padding: 0 5px;

}
.legal-links {
  display: inline-block;
  p {
    margin-bottom: 0;
  }
}

.legal-links-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

@media screen and (max-width: 600px) {


  #mobileshow {
    display: block;
  }

  #desktopshow {
    display: none;
  }

  .footer-column-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer-column {
    padding-left: 25px;
  }

  .site-footer {
    display: block;

    li {
      list-style: none;
    }

    li a {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .copyright {
    padding: 20px;

    p {
      color: white;
    }

    a {
      color: $brand-secondary;
    }

    #terms-privacy-links {
      display: none;
    }

    .mobo-sig {
      a {
        color: white;
      }
    }
  }

  .logo-header {
    width: 200px;
  }
}

@media screen and (max-width: 375px) {
  
  .social-media-footer svg {
    margin-bottom: 5px;
  }
}