/*header*/
.site-header-2 {
  background-color: $brand-primary;
  padding: 0;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  width: 100%;
}

.site-header-2 .container-2 {
  padding: 10px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.logo-header-2 {
  width: 50px;
}

.menu-list-2 {
  padding: 20px;
  list-style-type: none;
  position: relative;
  display: flex;

  li {
    display: inline-flex;
    list-style: none;
    padding: 0 10px;
    position: relative;
  }
  a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 5px;
    color: $offBlack;
    // height: 100%;
    align-items: center;
    display: flex;
  }
  a:hover {
    color: darken($brand-secondary, 10%)
  }
}

/*HAMBURGER MENU */

@media screen and (max-width: 910px) {

.hamburger-2 {
  display: block !important;
  }

  .site-header-2 .menu-list-2 {
    transition: $transition-hover;
    width: 30%;
    height: 100%;
    position: fixed;
    right: -30%;
    top: 0;
    z-index: 99;
    flex-direction: column;
    background-color: white;
    li {
      display: block;
      width: 100%;
      padding: 10px;
    }
  }
  .site-header-2 ul a {
    font-weight: 300;
  }

  .menu-open-2 .menu-list-2 {
    display: block;
    right: 0 !important;
    overflow: auto;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
  }

  .menu-list-2 {
    display: initial;
  }

  .overlay-nd-2 {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background: #31353cd9;
    z-index: -6;
    opacity: 0;
    transition: $transition-hover;
    cursor: pointer;
  }
  .overlay-nd-2.show-2 {
    opacity: 1;
    z-index: 998;
  }

  .menu-button-container-2 {
    padding-top: 15px;
    padding-right: 15px;
    display: block !important;
    transform: scale(1.1);
    z-index: 1000;
    cursor: pointer;
  }

  .site-header-2 ul a {
    color: $offBlack;
  }

  .site-header-2 ul a:hover {
    color: darken($brand-secondary, 10%)
  }

  .rotate-fix-2 {
    width: 100%;
    overflow-x: hidden;
  }

  /*line length, setting up the menu and how they animate*/
  .hamburger-2 {
    position: relative;
    width: 25px;
    height: 15px;
    transition: $transition-hover;
  }

  /*just as you click, slight indent. Just a style thing*/
  #menu-button-2:active .hamburger-2 {
    transition: $transition-hover;
    transform: scale(0.95);
  }

  /*these are the three lines, top (before), middle and bottom (after)*/
  .hamburger-2::before, .hamburger-2 .inner-2, .hamburger-2::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: $brand-secondary;
    transform-origin: 100% 50%;
    transition: $transition-hover;
  }

  .hamburger-2 .inner-2 {
    top: 9px;
    transform-origin: 50% 50%;
  }

  .hamburger-2::after {
    top: 19px;
  }

  .menu-open-2 .hamburger-2 {
    transform: rotateY(-180deg);
  }

  .menu-open-2 #menu-button-2:active .hamburger-2 {
    transform: scale(0.95) rotateY(-180deg);
    transition: $transition-hover;
  }

  /*color of lines whilst it's an X*/
  .menu-open-2 .hamburger-2::before,
  .menu-open-2 .hamburger-2::after,
  .menu-open-2 .hamburger-2 .inner {
    background: $brand-secondary
  }

  /*top line rotate*/
  .menu-open-2 .hamburger-2::before {

    transform: translate3d(-4px, 1px, 0) rotateZ(-45deg);
  }

  /*middle line going Y axis and disappearing*/
  .menu-open-2 .hamburger-2 .inner-2 {
    transform: rotateY(-90deg);
    transition: $transition-hover;
  }

  /*bottom line rotate*/
  .menu-open-2 .hamburger-2::after {
    transform: translate3d(-4px, -1px, 0) rotateZ(45deg);
  }

  body.menu-open-2 {
    left: -30%;
  }

@media screen and (max-width: 870px) {

  .site-header-2 .menu-list-2 {
      width: 40%;
      right: -40%;
    }

    body.menu-open-2 {
      left: -40%;
    }
}

@media screen and (max-width: 770px) {

  .sticky-2 {
      position: initial;
      top: 0;
      width: 100%;
    }
}


@media screen and (max-width: 575px) {

  .site-header-2 .menu-list-2 {
      width: 70%;
      right: -70%;
    }

    body.menu-open-2 {
      left: -70%;
    }
  }
}
/*END HAMBURGER */
