// $transition-hover: all .6s cubic-bezier(.77,0,.175,1);

/*header*/
.site-header-3 {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 100%;
  background-color: white;
}

.site-header-3 .container-3 {
  padding: 0px;
  margin: 0;
  width: 95%;
  margin: 0 auto;
}

.logo-header-3 {
  width: 150px;
  margin: 0 auto;
}

.sticky-3 {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu-list-3 {
  list-style-type: none;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  border-top: 1px solid #dfdfdf;
  li {
    list-style: none;
    margin: 0 5px;
    min-height: 50px;
    min-width: 170px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
    &:before {
      content: '';
      transition: $transition-hover;
      width: 50%;
      height: 100%;
      background-color: #dfdfdf;
      left: -100px;
      position: absolute;
      z-index: 1;
      opacity: 0;
    }
    &:after {
      content: '';
      transition: $transition-hover;
      width: 50%;
      height: 100%;
      background-color: #dfdfdf;
      right: -100px;
      position: absolute;
      z-index: 1;
      opacity: 0;
    }
    &:hover {
      // background-color: red;
      &:before {
        opacity: 1;
        left: 0;
      }
      &:after {
        opacity: 1;
        right: 0;
      }
    }
  }

  a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 5px;
    color: $offBlack;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: left;
    display: flex;
    z-index: 3;
  }
  a:hover {
    color: darken($brand-secondary, 10%)
  }
}

/*HAMBURGER MENU */

@media screen and (max-width: 980px) {

  .logo-header-3 {
    width: 50px;
    margin: initial;
  }

  .site-header-3 {
    padding: 0;
    flex-direction: unset;
    justify-content: space-between;
  }

  .menu-list-3 {
    border-top: initial;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.25em;
    li {
      margin: 5px 0;
      padding: 5px !important;
      text-align: left !important;
      min-height: 40px;
      min-width: 0;
      &:before {
        content: initial;
      }
      &:after {
        content: initial;
      }
    }

    a {
      justify-content: initial;
      align-items: initial;
      padding: 0;
    }
  }

  .hamburger-3 {
    display: block !important;
  }

  .site-header-3 .container-3 {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  .menu-button-container-3 {
    display: block !important;
  }

  .site-header-3 .menu-list-3 {
    transition: $transition-hover;
    width: 40%;
    height: 100%;
    position: fixed;
    right: -40%;
    top: 0;
    z-index: 99;
    flex-direction: column;
  }

  .site-header-3 ul a {
    font-weight: 300;
  }

  .menu-open-3 .menu-list-3 {
    display: flex;
    flex-direction: column;
    right: 0 !important;
    overflow: auto;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
    background-color: $brand-primary;
  }

  .overlay-nd-3 {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    // left: 0;
    background: #31353cd9;
    z-index: -6;
    // display: none;
    opacity: 0;
    transition: $transition-hover;
    cursor: pointer;
  }
  .overlay-nd-3.show-3 {
    opacity: 1;
    z-index: 998;
  }

  .menu-button-container-3 {
    padding-top: 15px;
    transform: scale(1.1);
    z-index: 1000;
    cursor: pointer;
    padding-right: 15px;
  }

  .site-header-3 ul a {
    padding: 0 15px;
    color: $offBlack;
    font-weight: 700;
  }

  .site-header-3 ul a:hover {
    color: darken($brand-secondary, 10%)
  }

  .site-header-3 .menu-list-3 li {
    display: block;
    width: 100%;
    padding: 20px;
  }

  .rotate-fix-3 {
    width: 100%;
    overflow-x: hidden;
  }
  /*line length, setting up the menu and how they animate*/
  .hamburger-3 {
    position: relative;
    width: 25px;
    height: 15px;
    transition: $transition-hover;
  }

  /*just as you click, slight indent. Just a style thing*/
  #menu-button-3:active .hamburger-3 {
    transition: transform 50ms;
    transform: scale(0.95);
  }

  /*these are the three lines, top (before), middle and bottom (after)*/
  .hamburger-3::before, .hamburger-3 .inner-3, .hamburger-3::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: $brand-secondary;
    transform-origin: 100% 50%;
    transition: $transition-hover;
  }

  .hamburger-3 .inner-3 {
    top: 9px;
    transform-origin: 50% 50%;
  }

  .hamburger-3::after {
    top: 19px;
  }

  .menu-open-3 .hamburger-3 {
    transform: rotateY(-180deg);
  }

  .menu-open-3 #menu-button-3:active .hamburger-3 {
    transform: scale(0.95) rotateY(-180deg);
    transition: $transition-hover;
  }

  /*color of lines whilst it's an X*/
  .menu-open-3 .hamburger-3::before,
  .menu-open-3 .hamburger-3::after,
  .menu-open-3 .hamburger-3 .inner-3 {
    background: $brand-secondary
  }

  /*top line rotate*/
  .menu-open-3 .hamburger-3::before {
    transform: translate3d(-4px, 1px, 0) rotateZ(-45deg);
  }

  /*middle line going Y axis and disappearing*/
  .menu-open-3 .hamburger-3 .inner-3 {
    transform: rotateY(-90deg);
    transition: $transition-hover;
  }

  /*bottom line rotate*/
  .menu-open-3 .hamburger-3::after {
    transform: translate3d(-4px, -1px, 0) rotateZ(45deg);
  }

  body.menu-open-3 {
    left: -40%;
  }

}

@media screen and (max-width: 870px) {

 .site-header-3 .menu-list-3 {
    width: 40%;
    right: -40%;
  }

  body.menu-open-3 {
    left: -40%;
  }
}

@media screen and (max-width: 575px) {

 .site-header-3 .menu-list-3 {
    width: 70%;
    right: -70%;
  }

  body.menu-open-3 {
    left: -70%;
  }
}
/*END HAMBURGER */