/*header*/

.site-header {
  background-color: $brand-primary;
  display: flex;
  z-index: 999;
  position: relative;
  justify-content: space-between;
  align-content: center;
}

.site-header .container {
  position: relative;
  padding: 20px 10px;
  width: 100%;
  margin: 0 auto;
}

.logo-header {
  width: 250px;
  img {
    position: relative;
    height: 50px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu-list {
  list-style-type: none;
  position: relative;
  padding: 20px;
  font-size: 1.25em;
  li {
    position: relative;
    margin: 5px 0;
    padding: 5px !important;
    min-height: 40px;
    overflow: hidden;
    min-width: 0;
  }
  a {
    justify-content: initial;
    align-items: initial;
    color: darken($brand-secondary, 10%);
  }
}

/*HAMBURGER MENU */

.hamburger {
  display: block !important;
}

.site-header .menu-list {
  transition: $transition-hover;
  width: 30%;
  height: 100%;
  position: fixed;
  right: -30%;
  top: 0;
  z-index: 99;
  flex-direction: column;
  background-color: white;

}


.site-header ul a {
  font-weight: 300;
}

.menu-open .menu-list {
  display: block;
  right: 0 !important;
  overflow: auto;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
}

.overlay-nd {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  background: #31353cd9;
  opacity: 0;
  z-index: -6;
  transition: $transition-hover;
  cursor: pointer;
  
}
.overlay-nd.show {
  opacity: 1;
  z-index: 998;
}

.menu-button-container {
  padding-top: 15px;
  padding-right: 15px;
  display: block !important;
  transform: scale(1.1);
  z-index: 1000;
  cursor: pointer;
}

.site-header ul a {
  color: $offBlack;
}

.site-header ul a:hover {
  color: darken($brand-secondary, 10%)
}

.site-header .menu-list li {
    display: block;
    width: 100%;
    padding: 20px;
  }

.rotate-fix {
  width: 100%;
  overflow-x: hidden;
}

/*line length, setting up the menu and how they animate*/
.hamburger {
  position: relative;
  width: 25px;
  height: 15px;
  transition: $transition-hover;
}

/*just as you click, slight indent. Just a style thing*/
#menu-button:active .hamburger {
  transition: transform 50ms;
  transform: scale(0.95);
}

/*these are the three lines, top (before), middle and bottom (after)*/
.hamburger::before, .hamburger .inner, .hamburger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background: $brand-secondary;
  transform-origin: 100% 50%;
  transition: $transition-hover;
}

.hamburger .inner {
  top: 9px;
  transform-origin: 50% 50%;
}

.hamburger::after {
  top: 19px;
}

.menu-open .hamburger {
  transform: rotateY(-180deg);
}

.menu-open #menu-button:active .hamburger {
  transform: scale(0.95) rotateY(-180deg);
  transition: $transition-hover;
}

/*color of lines whilst it's an X*/
.menu-open .hamburger::before,
.menu-open .hamburger::after,
.menu-open .hamburger .inner {
  background: $brand-secondary
}

/*top line rotate*/
.menu-open .hamburger::before {

  transform: translate3d(-4px, 1px, 0) rotateZ(-45deg);
}

/*middle line going Y axis and disappearing*/
.menu-open .hamburger .inner {
  transform: rotateY(-90deg);
  transition: $transition-hover;
}

/*bottom line rotate*/
.menu-open .hamburger::after {
  transform: translate3d(-4px, -1px, 0) rotateZ(45deg);
}

body.menu-open {
  left: -30%;
}

@media screen and (max-width: 870px) {

 .site-header .menu-list {
    width: 40%;
    right: -40%;
  }

  body.menu-open {
    left: -40%;
  }
}

@media screen and (max-width: 770px) {

 .sticky {
    position: initial;
    top: 0;
    width: 100%;
  }
}


@media screen and (max-width: 575px) {

 .site-header .menu-list {
    width: 70%;
    right: -70%;
  }

  body.menu-open {
    left: -70%;
  }

}
/*END HAMBURGER */
