///////////////////////////////////
// VIDEO HERO
///////////////////////////////////
#myVideo {
    right: 0;
    bottom: 0;
    max-width: 100%; 
    max-height: 100%;
    vertical-align: middle;
}
video {
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
}

.hero-text-container {
  z-index: 3;
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
    //padding: 20px;
    background-attachment: scroll;
    overflow: hidden;
    margin-top: 75px;
    line-height: 0;
}
.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.videoContainer .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: black;
    opacity: 0.3;
}

.overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    color: #f1f1f1;
}

.border-inner {
  display: flex;
  height: 95%;
  width: 95%;
}

.text-container-hero {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 100%;
  text-align: left;
  justify-content: center;
  h1, h3 {
    margin-bottom: 0.25em;
  }
  p {
    font-size: 1em;
  }
}


///////////////////////////////////
// FLEX GRID EQUAL
///////////////////////////////////

.flex-grid-display-divider {
  text-align: center;
  position: relative;

  h2 {
    margin: 40px auto;
  }
}

.flex-grid-wrapper-equal {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  line-height: 0;
}

.hover-container {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  line-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: $transition-hover;
  h5 {
      color: #333333;
      margin-bottom: 0;
      transition: $transition-hover;
  }
  p {
    color: #333333;
    transition: $transition-hover;
  }
}

.flex-grid-individual-container {
  position: relative;
  transition: $transition-hover;
  &:hover {
    .hover-container {
      opacity: 1;
      top: 0;
      text-align: center;
      background-color: #1b1b1b2a;
      transition: $transition-hover;
      h5 {
          margin-top: 10px;
          color: #333333;
          transition: $transition-hover;
        }
    }
  }
}

.hover-container-two {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1b1b1b2a;
  transition: $transition-hover;
  line-height: 0;
  h5 {
      color: #fafafa;
      margin-bottom: 0;
      transition: $transition-hover;
    }
  p {
    color: #fafafa;
    transition: $transition-hover;
  }
  &:hover {
    background-color: #1b1b1b00;
    h5, p {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 820px) {
  .flex-grid-wrapper-equal {
    display: flex;
    flex-direction: column;
  }

  .hover-container {
    opacity: 1;
    background-color: #1b1b1b2a;
    justify-content: initial;
    padding: 25px;
  }
}

///////////////////////////////////
// FLEX GRID NOT EQUAL
///////////////////////////////////


.flex-grid-wrapper-not-equal {
  position: relative;
  display: grid;
  line-height: .5;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "two-left a2 a3"
    "two-left b2 two-right"
    "c1 c2 two-right";
}

// .hover-container {
//   opacity: 0;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   line-height: 0;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   transition: $transition-hover;
//   h5 {
//       color: #333333;
//       margin-bottom: 0;
//       transition: $transition-hover;
//   }
//   p {
//     color: #333333;
//     transition: $transition-hover;
//   }
// }

// .flex-grid-individual-container {
//   position: relative;
//   transition: $transition-hover;
//   &:hover {
//     .hover-container {
//       opacity: 1;
//       top: 0;
//       text-align: center;
//       background-color: #1b1b1b2a;
//       transition: $transition-hover;
//       h5 {
//           margin-top: 10px;
//           color: #333333;
//           transition: $transition-hover;
//         }
//     }
//   }
// }


.over-two-square-one {
 grid-area: two-left;
//  background-image: url('/img/png/double-square.png');
//  background-size: cover;
}

.over-two-square-two {
 grid-area: two-right;
//  background-image: url('/img/png/double-square.png');
//  background-size: cover;
}

// .hover-container-two {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   background-color: #1b1b1b2a;
//   transition: $transition-hover;
//   line-height: 0;
//   h5 {
//       color: #fafafa;
//       margin-bottom: 0;
//       transition: $transition-hover;
//     }
//   p {
//     color: #fafafa;
//     transition: $transition-hover;
//   }
//   &:hover {
//     background-color: #1b1b1b00;
//     h5, p {
//       opacity: 0;
//     }
//   }
// }

@media screen and (max-width: 820px) {
  .flex-grid-wrapper-not-equal {
    display: flex;
    flex-direction: column;
  }

  .hover-container {
    opacity: 1;
    background-color: #1b1b1b2a;
    justify-content: initial;
    padding: 25px;
  }
}

///////////////////////////////////
// FEATURED IMAGE TEXT OVERLAY
///////////////////////////////////

.featured-image-section {
  background-image: url('https://19wzwz1i4unl15n0ux1rqxbb-wpengine.netdna-ssl.com/wp-content/uploads/2017/12/Ratio-Oyster-1-1600x900.jpg');
  padding: 150px 50px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  // justify-content: flex-end; //MOVE RIGHT OR LEFT
}

.featured-image-text-container {
  background-color: #fafafa;
  padding: 150px 80px;
  max-width: 425px;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .40);
  h4, p {
    margin-bottom: .25em;
    color: #333333;
  }
}

@include lessThanTablet {

  .featured-image-section {
    padding: 150px 50px;
  }

  .featured-image-text-container {
    margin: 0 auto;
    padding: 75px 40px;
  }
}

@media screen and (max-width: 386px) {
  .featured-image-section {
    padding: 150px 25px;
  }
}


///////////////////////////////////
// MOBILE PHONES HALF HALF 
///////////////////////////////////

.strip-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.strip-half {
  width: 50%;
  margin-bottom: -5px;
  position: relative;

  h3 {
    margin-bottom: .5em;
  }
}

.image-strip-container {
  text-align: center;
  bottom: 2px;
  img {
    width: 70%;
  }
}

.text-strip-container {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}

.strip-content-wrap {
  display: flex;
  position: relative;
}

.strip--divide-right {
  background-color: #9abbaa;
  &:after {
    background-color: #fafafa;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    width: 50%;
    z-index: 2;
  }
}

.strip--divide-left {
  background-color: #f09696;
  &:after {
    background-color: #fafafa;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    width: 50%;
    z-index: 2;
  }
}

@media screen and (max-width: 990px) {
  .text-strip-container {
    padding: 50px 25px;
  }
}

@media screen and (max-width: 660px) {
  .strip-content-wrap {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .strip--divide-right {
    background-color: #fafafa;
    width: 100%;
    &:after {
      display: none;
    }
  }

  .strip--divide-left {
    background-color: #fafafa;
    width: 100%;
    &:after {
      display: none;
    }
  }

  .text-strip-container, .image-strip-container {
    width: 100%;
  }

  .text-strip-container {
    order: 1;
  }

  .image-strip-container {
    order: 2;
    img {
      margin-top: -50px;
    }
  }
}


///////////////////////////////////
// GRADIENT SECTION 1
///////////////////////////////////

.featured-gradient-section {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff744d+0,e2056e+100 */
  background: #ff744d; /* Old browsers */
  background: -moz-linear-gradient(top, #ff744d 0%, #e2056e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff744d 0%,#e2056e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff744d 0%,#e2056e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff744d', endColorstr='#e2056e',GradientType=0 ); /* IE6-9 */ 
  padding: 150px 50px;
  position: relative;
  display: flex;
  // justify-content: flex-end; //MOVE RIGHT OR LEFT
}


.featured-gradient-text-container {
  padding: 150px 80px;
  width: 60%;
  position: relative;
  h2 {
    margin-bottom: .25em;
    color: #fafafa;
  }

  p {
      margin-bottom: 1em;
      color: #fafafa;
  }
}

@include tablet {
  .featured-gradient-text-container {
    width: 100%;
  }
}

@include mobile {
  .featured-gradient-section {
    padding: 25px;
  }

  .featured-gradient-text-container {
    padding: 140px 10px;
  }
}

.gradient-text-content-featured {
  button {
    padding: 10px 60px;
    border-radius: 15px;
    border-width: 1px;
    border-color: white;
    font-weight: 700;
    font-size: 1.25em;
    background-color: #fff0;
    color: #fafafa;
    transition: $transition-hover;
    &:hover {
      background-color: #fafafa21;
    }
  }
}

///////////////////////////////////
// GRADIENT SECTION 2
///////////////////////////////////

.featured-gradient-section-2 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,0082c8+100 */
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(top, #7db9e8 0%, #0082c8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7db9e8 0%,#0082c8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7db9e8 0%,#0082c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#0082c8',GradientType=0 ); /* IE6-9 */
  padding: 150px 50px;
  position: relative;
  display: flex;
  // justify-content: flex-end; //MOVE RIGHT OR LEFT
}

.featured-gradient-text-container-2 {
  padding: 150px 80px;
  width: 60%;
  position: relative;
    h2 {
    margin-bottom: .25em;
    color: #fafafa;
  }

  p {
      margin-bottom: 1em;
      color: #fafafa;
  }
}

@include tablet {
  .featured-gradient-text-container-2 {
    width: 100%;
  }
}

@include mobile {
  .featured-gradient-section-2 {
    padding: 25px;
  }

  .featured-gradient-text-container-2 {
    padding: 140px 10px;
  }
}

.gradient-text-content-featured-2 {
  button {
    padding: 10px 60px;
    border-radius: 15px;
    border-width: 1px;
    border-color: white;
    font-weight: 700;
    font-size: 1.25em;
    background-color: #fff0;
    color: #fafafa;
    transition: $transition-hover;
    &:hover {
      background-color: #fafafa21;
    }
  }
}


///////////////////////////////////
// PARALLAX IMAGE SECTION
///////////////////////////////////

.parallax-image-scroller-bg {
  background-image: url('https://images.pexels.com/photos/348523/pexels-photo-348523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 60vh;
}

.parallax-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  padding: 50px;
  color: #fafafa;
  text-align: center;
  width: 80%;
  
  h2 {
    margin-bottom: .25em;
  }
}

///////////////////////////////////
// THREE COLUMN SECTION
///////////////////////////////////

.three-column-bg {
  background-color: #f3f7f9;
}

.three-column-wrapper {
  display: flex;
  padding: 20px;
}

.column-individual-container {
  margin: 10px;
  padding: 25px;
  color: #333333;
  width: 30%;
  img {
    width: 20%;
    margin-bottom: .25em;
  }
  h5 {
    margin-bottom: .25em;
  }
}

@include tablet {
  .three-column-wrapper {
    flex-wrap: wrap;
  }

  .column-individual-container {
    width: 100%;
    img {
      width: 15%;
    }
  }
}

///////////////////////////////////
// FOOTER IMAGE GRID CONTAINER
///////////////////////////////////

.footer-image-grid-container {
  display: flex;
  padding: 25px;
  background-color: #F5F7FB;
  position: relative;
}

.footer-image-grid-individual {
  position: relative;
  transition: $transition-hover;
  line-height: 0;
  h5, p {
    color: #fafafa;
  }
  &:hover {
    .hover-container {
      opacity: 1;
      top: 0;
      text-align: center;
      background-color: #1b1b1b2a;
      transition: $transition-hover;
      h5 {
          margin-top: 10px;
          color: #fafafa;
          transition: $transition-hover;
        }
      p {
        color: #fafafa;
      }
    }
  }
}

@include lessThanTablet {
  .footer-image-grid-container {
    flex-wrap: wrap;
  }

  .footer-image-grid-individual {
    width: 50%;
  }
}


///////////////////////////////////
// LINKED COMPANY CONTAINER
///////////////////////////////////

.linked-companies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;

  img {
    margin: 20px;
  }
}

@include lessThanDesktop {
  .linked-companies-container {
    flex-wrap: wrap;
  }
}


///////////////////////////////////
// PAYMENT METHODS
///////////////////////////////////

.payment-methods {
  display: flex;
  padding: 50px;
  margin: 0 auto;
  text-align: center;

  ul {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  li {
    display: inline-block;
    margin-left: 10px;
    color: rgba(97,97,96,0.4);
  }
}

///////////////////////////////////
// 50 50 HOVER WRAPPER
///////////////////////////////////

.split-hover-wrapper {
  display: flex;
  position: relative;
  max-width: 100%;
}


.split-container {
  height: 600px;
  width: 50%;
  transition: $transition-hover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.text-container-split-hover {
  margin: 0 auto;
  text-align: center;
  width: 350px;
  padding: 75px 10px;
  // background-color: red;
   h2 {
     margin-bottom: 0.25em;
   }
  h2, p {
    color: $offBlack;
  }
  button {
    padding: 10px 60px;
    border-radius: 15px;
    border-width: 1px;
    border-color: white;
    font-weight: 700;
    font-size: 1.25em;
    background-color: #fff0;
    color: #fafafa;
    cursor: pointer;
    &:hover {
      background-color: #fafafa21;
    }
  }
}

.split-one {
  background-color: $brand-success;
  &:hover {
    width: 70%;
  }
}

.split-two {
  background-color: rgb(206, 206, 206);
  &:hover {
    width: 70%;
  }
}

@include lessThanDesktop {
  .split-hover-wrapper {
    flex-direction: column;
  }

  .split-container {
    width: 100%;
    padding: 50px;
    height: initial;
  }

  .split-one {
    background-color: $brand-success;
    &:hover {
      width: initial;
    }
  }

  .split-two {
    background-color: rgb(206, 206, 206);
    &:hover {
      width: initial;
    }
  }
}

@include tablet {
  .split-container {
    padding: 10px;
  }

  .text-container-split-hover {
    width: 80%;
  }
}

///////////////////////////////////
// SOLID COLOR DROPSHADOW SECTION
///////////////////////////////////


.solid-color-dropshadow-section {
  background-color: #00DDD5;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.solid-color-inners {
  padding: 25px;

}

.solid-color-content-container {
  background-color: #fafafa;
  padding: 75px 25px;
  margin-left: 50px;
  width: 40%;
  box-shadow: 15px 40px 60px 0 rgba(0,0,0,.16);
  color: #333;
  h6 {
    margin-bottom: 0.25em;
  }
}

@include tablet {
  .solid-color-content-container {
    padding: 10px;
    width: 70%;
    margin-left: initial;
  }
}

@include mobile {
  .solid-color-content-container {
    width: 100%;
  }
}

.instagram-grid-container {

}

#instafeed {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  
  &-item {
    width: 25%;
    position: relative;
    background-size: cover;
    background-position: center;
    &:hover {
      .hover-container {
        opacity: 1;
        background-color: #1b1b1bc0;
      }
    }
    
    @media (min-width: 50rem) {
      width: 25%;
      &:nth-child(odd) {
        background-position: center;
        background-size: cover;
      }
    }
    
    @media (min-width: 62rem) {
      width: 25%;
      &:not(:nth-child(4n)) {
        background-position: center;
        background-size: cover;
      }
    }
    
    &:before {
      content: "";
      float: left;
      padding-top: 100%;
    }
  }
}
