$brand-primary:              #428bca !default;
$brand-primary-complement:   #ebebeb;
$brand-secondary:            #464646;
$brand-secondary-complement: #727272;
$brand-success:              #5cb85c !default;
$brand-info:                 #5bc0de !default;
$brand-warning:              #f0ad4e !default;
$brand-danger:               #d9534f !default;

$offWhite: #e3e3e3;
$offBlack: #464646;
$footer-background: #222931;
$footer-black: #2B2B2B;

// TYPOGRAPHY BASICS

$contentFonts: 'Titillium Web', sans-serif;
$contentFontsWeight: 300;
$headingFonts: 'Titillium Web', sans-serif;
$headingFontsWeight: 700;

// BODY > RESPONSIBLE FOR EM/REMS
$baseFontSize: 16px;


// Breakpoint we consider largest size for a mobile
$mobile-width: 600px;
// Minimum breakpoint to consider a tablet
$tablet-width: 768px;
// Minimum breakpoint to consider a desktop
$desktop-width: 1024px;
// For wide screen
$wide-width: 1480px;
// Sets the maximum width a container will go to, we don't want really long lines of text the complete width of a widescreen browser
$containedWidth: 980px;

// Basic link controls
$link-color: $brand-primary;
$link-hover-color: darken($brand-primary, 10%);
$link-decoration: none;
$link-hover-decoration: none;


// Flex Layout:
// Gap/margin between our flex items
$flexGap: 10px;

// Grid Layout:
// Control the number of columns our grid has, it truly only really works with 12
$gridColumns: 12;
$gridGap: $baseFontSize;
