/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    right: 0;
    bottom: 0;
    max-width: 100%; 
    max-height: 100%;
    vertical-align: middle;
}
video {
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
}

.hero-text-container {
  z-index: 3;
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
    //padding: 20px;
    background-attachment: scroll;
    overflow: hidden;
    margin-top: 75px;
    line-height: 0;
}
.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.videoContainer .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: black;
    opacity: 0.3;
}

.overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    color: #f1f1f1;
}

.border-inner {
  display: flex;
  height: 95%;
  width: 95%;
}

.text-container-hero {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 100%;
  text-align: left;
  justify-content: center;
  h1, h3 {
    margin-bottom: 0.25em;
  }
  p {
    font-size: 1em;
  }
}