* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$transition-hover: all 1s cubic-bezier(.77,0,.175,1);

body {
  overflow-x: hidden;
  left: 0;
  position: relative;
  transition: $transition-hover;
  height: 100%;
  background-color: #F4F4F4;
}

// REMOVE BROWSER OUTLINE
// button {
//   outline: none;
// }


@import 'variables';
@import 'mediaq';
@import 'framework';
@import 'index-page-contents.scss';
@import 'norm';
@import 'bits';
@import 'fonts';
@import 'header';
@import 'header-no-burger';
@import 'header-centered-content';
@import 'fullpage-js.scss';
@import 'footer';
@import 'sections';
@import 'typography';



